:root{
    --color_sala: #063823;
    --color_titulo: #e7e7e7;
}

body{
    margin: 0px;
    padding: 0px;
}

#Inicio{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-auto-rows: 320px;
    overflow-y: scroll;
}

.Sala{
    min-width: 170px;
    max-width: 260px;
    height: 280px;
    margin: auto 5% auto 5%;
    display: grid;
    grid-template-rows: 20% 80%;
    box-shadow: -1px 3px 8px 4px rgba(0,0,0,0.61);
    border-radius: 10px;
    box-sizing: content-box;
}

.encabezado{
    background-color: var(--color_sala);
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contenido{
    display: grid;
    grid-template-rows: repeat(3,27%) auto;
}

.celda{
    width: 90%;
    margin: auto;
}

.celda_btn{
    width: 40%;
    height: 90%;
    margin: auto;
}

#MensajeAviso{
    color: #747474;
    text-align: center;
    font-size: 120%;
    font-weight: 900;
    grid-column: 2 / span 2;
    padding: 5%;
}