:root{
    --font-size-Encabezado: 25px;
    --tam-Cuerpo-heigth : 550px;
    --tam-Contenedor-Principal-width: 400px;
    --tam-Contenedor-Principal-heigth: 450px;
    --font-size-Encabezado-Contenedor: 25px;
    --input-margin-top: 20px;
    --font-size-titulo-label-abajo: 16px;
    --top-label-titulo-label-abajo: 24px;
    --left-label-titulo-label-abajo: 50px;
    --input-font-size: 15px;
    --input-padding: 1% 4% 1% 4%;
    --input-heigth: 20px;
    --font-size-titulo-label-arriba: 12px;

    --button-ingresar-font-size: 20px;
    --seccion-font-size: 20px;

    --mensaje-restriccion-top: 55px;
    --seccion-margin-top: 18px;
    --seccion-heigth: 35px;
}

body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    font-family: sans-serif;
}
/**** Seccion de Encabezado de la pagina *********************************************************************/
#Encabezado{
    width: 100%;
    height: auto;
    background-color: #333F50;
}
#Encabezado > div{
    margin-left: 30px;
    color: aliceblue;
    line-height: 2.5;
    font-size: var(--font-size-Encabezado);
    font-weight: 520;
}
/***** Seccion del cuerpo de la pagina**************************************************************************/
#Cuerpo{
    width: 100%;
    height: var(--tam-Cuerpo-heigth);
    display: grid;
}
/***** Seccion Contenedor **************************************************************************************/
#Contenedor_Principal{
    width: var(--tam-Contenedor-Principal-width);
    height: var(--tam-Contenedor-Principal-heigth);
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 15% 85%;
    box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.62);
    -webkit-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.62);
}
/***** Seccion Contenedor Encabezado ***************************************************************************/
#Encabezado_Contenedor{
    background-color: #333F50;
    border-radius: 10px 10px 0px 0px;
}
#Encabezado_Contenedor > div{
    width: 100%;
    color: aliceblue;
    text-align: center;
    line-height: 2.5;
    font-size: var(--font-size-Encabezado-Contenedor);
}
/***** Seccion Formulario *************************************************************************************/
#Formulario{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4,25%);
}
#Formulario > div{
    width: 100%;
    height: 100%;
    display: grid;
}
/***** Seccion de Inputs **************************************************************************************/
.Contenedor_Input{
    width: 70%;
    height: 90%;
    margin: auto;
    position: relative;
}
/***** Contenedor Elementos (Select y Button)*******************************************************************/
.Contenedor_Elemento{
    width: 50%;
    height: 60%;
    margin: auto;
}