@media screen and (max-device-width:800px) and (orientation: portrait) {
    :root{
        --font-size-Encabezado: 55px;
        --tam-Cuerpo-heigth : 1300px;
        --tam-Contenedor-Principal-width: 800px;
        --tam-Contenedor-Principal-heigth: 850px;
        --font-size-Encabezado-Contenedor: 50px;
        --input-margin-top: 60px;
        --top-label-titulo-label-abajo: 60px;
        --left-label-titulo-label-abajo: 65px;
        --font-size-titulo-label-abajo: 40px;
        --input-font-size: 50px;
        --input-heigth: 50px;
        --input-padding: 1% 4% 3% 4%;
        --font-size-titulo-label-arriba: 30px;

        --button-ingresar-font-size: 35px;
        --seccion-font-size: 28px;

        --mensaje-restriccion-top: 140px;
        --seccion-margin-top: 65px;
        --seccion-heigth: 40px;
    }
}