body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: auto auto;
    font-family: sans-serif;
}

#Encabezado{
    width: 100%;
    background-color: #333F50;
}

#Encabezado > div{
    margin-left: 30px;
    color: aliceblue;
    line-height: 2.5;
    font-size: 25px;
    font-weight: 520;
}

#Contenido{
    width: 100%;
    height: 550px;
    display: grid;
}

#Contenedor_Camara , #Contenedor_Acceso_Permitido , #Contenedor_Acceso_Denegado{
    width: 700px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.62);
    -webkit-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.62);
    display: grid;
    grid-template-rows: 90% 10%;
}

#Contenedor_Camara > div{
    display: grid;
}

#Lector{
    width: 380px;
    height: 380px;
    margin: auto;
}

#Seccion_Opciones{
    width: 30%;
    height: 60%;
    display: grid;
    margin: auto;
}

canvas{
    width: 100%;
    height: 100%;
}

#Contenedor_Acceso_Permitido > div , #Contenedor_Acceso_Denegado > div{
    display: grid;
}

#Titulo_Acceso_Permitido{
    text-align: center;
    color: #92D050;
    font-size: 60px;
    width: 80%;
    height: 35%;
    margin: auto;
}

#Titulo_Acceso_Denegado{
    text-align: center;
    color: #ce4932;
    font-size: 60px;
    width: 80%;
    height: 35%;
    margin: auto;
}

.mensaje{
    text-align: center;
    color: #333F50;
    font-size: 30px;
    width: 80%;
    height: 35%;
    margin: auto;
}