:root{
  --color_controles: #111111f8;
  --sombra_controles: #1f1f1f83;
  --fondo-secciones: rgb(41, 41, 41);
  --color_mensaje_familiar: #02442d;
  --color_mensaje_paciente: #255747;
}

body{
  margin: 0px;
  padding: 0px;
}
/*************************************************/
#Inicio{
  background-color: rgb(36, 36, 36);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 35% 65%;
}
/* Contenedor 1 Seccion de video remoto **********/
#Contenedor1{
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: grid;
}
#Seccion1{
  background-color: var(--fondo-secciones);
  width: 90%;
  height: 500px;
  box-shadow: 0px 17px 30px rgb(0, 0, 0);
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
#SeccionVideo{
  width: 100%;
  height: 100%;
}
.DescripcionRemoto{
  height: 8%;
  grid-template-columns: 45% 10% 45%;
}
#Controles{
  width: 80%;
  height: 80%;
  margin: auto;
}
/* Contenedor 2 Seccion de video local **********/
#Contenedor2{
  width: 100%;
  height: 100%;
  grid-column:  2;
  grid-row: 1;
  display: grid;
}
#Seccion2{
  background-color: var(--fondo-secciones);
  width: 80%;
  height: 160px;
  box-shadow: 0px 17px 30px rgb(0, 0, 0);
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
.DescripcionLocal{
  height: 25%;
  grid-template-columns: 100%;
}
/* Contenedor 3 Seccion mensajes **********/
#Contenedor3{
  width: 100%;
  height: 100%;
  grid-column:  2;
  grid-row: 2;
  display: grid;
}
#Seccion3{
  background-color: var(--fondo-secciones);
  width: 85%;
  height: 300px;
  box-shadow: 0px 17px 30px rgb(0, 0, 0);
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
}
#ContenedorEscritura{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
#Mensajes{
  overflow-y: auto;
}
#EscribirMensaje{
  width: 90%;
  height: 80%;
  position: relative;
  margin: auto;
}
/* Contenedores Generales*****************************/
.SeccionDescripcion{
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-rows: 100%;
  background: var(--sombra_controles);
  background: -moz-linear-gradient(top, var(--sombra_controles) 0%, var(--color_controles) 50%, var(--color_controles) 100%);
  background: -webkit-linear-gradient(top, var(--sombra_controles) 0%, var(--color_controles) 50%, var(--color_controles) 100%);
  background: linear-gradient(to bottom, var(--sombra_controles) 0%, var(--color_controles) 50%, var(--color_controles) 100%);
}
.NombrePersona{
  color: aliceblue;
  width: 80%;
  height: 50%;
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}