#BotonSalir:hover{
    filter: opacity(1);
    border-radius: 50%;
}

input:focus{
    outline: none;
    background: none;
    border-bottom: 4px solid #e4e4e4;
}

input:valid + label{
    top: 0px;
    left: 0px;
    color: #e4e4e4;
    font-weight: 900;
    font-size: 70%;
}