/*Horizontal*/
@media screen and (max-device-height:400px) and (orientation: landscape) {
    #Seccion1{
        height: 400px;
    }
}

/*Vertical*/
@media screen and (max-device-width:800px) and (orientation: portrait) {
    #Inicio{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    /* Contenedor 1 Seccion de video remoto **********/
    #Contenedor1{
        grid-row: 1;
    }
    #Seccion1{
        width: 95%;
        height: 650px;
      }
    /* Contenedor 2 Seccion de video local **********/
    #Contenedor2{
        width: 30%;
        height: 10%;
        grid-column:  1;
        grid-row: 1;
        position: absolute;
        right: 0px;
    }
    /* Contenedor 3 Seccion mensajes **********/
    #Contenedor3{
        grid-column:  1;
        grid-row: 2;
    }
    #Seccion3{
        width: 70%;
        height: 650px;
        grid-template-rows: 90% 10%;
    }
    .miMensaje,.familiarMensaje{
        font-size: 200%;
    }
}